<div id="fly-in">  
<div><span>今お住まいの</span>家賃高くない？</div>
<div>不動産屋さん<span>行くのめんどくさくない？</span></div>
<div>大家さんも<span>借りたい人も</span></div>
<div><span>無料で探せて</span>募集もできる</div>
<div><span>そんなサイト</span>ここにあります！</div>
<div>サイト内のチャットで<span>入居の交渉することもできます！</span></div>
<div>不動産仲介業者に左右されない <span>自分のペースの不動産探しを</span></div>
<div><span>ごゆっくり</span> お楽しみください</div>
</div>